name: CI

on:
  push:
    branches: ["feature/**", "dev", "QA", "main"]
  pull_request:
    branches: ["dev", "QA", "main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build docs
        uses: actions/jekyll-build-pages@v1
        with:
          source: ./
          destination: ./_site
